*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Lato", sans-serif ;
}
body{
    background: url(do.avif) no-repeat center center/ cover;
    height: 100vh;
    display: flex; 
    justify-content: center;
    align-items: center;
}
#add-task-container{
    width: 350px;
    background: whitesmoke;
    padding: 20px 15px;
    border-radius: 20px;
    box-shadow: 0 0 3px;
    display: flex;
    margin-bottom: 20px;
    
}
input{
    flex: 5;
    margin-right: 10px;
    border-radius: 10px;
    font-size: 1.2rem;
    padding: 5px;
}
#add-task{
    font-size: 1.2rem;
    padding: 5px;
    flex: 1;
    color: grey;
    background-color: white;
    border-radius: 10px;
    border: solid white 2px;
    transition: .3s;
}
#add-task:hover{
    color: black;
    background-color: aqua;
}

/* task adding style in todo list */
.task{
    width: 100;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 3px;
    padding:5px ;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;

}
.task li{
    list-style: none;
    flex: 4;
    padding: 5px;
    font-size: 1.3rem ;
    margin: 10px;
}
.task button{
    flex: 1;
    border-radius: 10px;
    background-color: #fff;
}
.task .checkTask{
    font-size: 1.2rem;
    margin: 5px;
    color: orange;
    border: solid orange 2px;
    
}
.task .deleteTask{
    font-size: 1.2rem;
    margin: 5px;
    color: orange;
    border: solid orange 2px;

}

.task .checkTask:hover{
    background-color: orange;
    color: white;
}
.task .deleteTask:hover{
    background-color: red;
    color: white;
}
